body{
    background-color: white ;
    text-align: center;
    margin:0 0 10px;
}

h1 {
    text-align: center;
    justify-content: center;
    color: #2d3954;
    font-weight: 600;
    text-transform: capitalize;
    font-family:  sans-serif;
}

p{
    opacity: 60%;
}
#anaseh {
    text-align: center;
    justify-content: center;
    background-color: white;
    margin-top: -10px;
   
}
#anaseh_id{
    color: #2d3954;
    
}
#anaseh_id:hover{
    color:red;
}
#haqqimizda_id{
    color: red;
}
#img1{
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    height: auto;
}
.breadcrumb-title {
    font-size: 50px;
}
.row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.komanda_uzv{
   background-color: rgb(243, 240, 240);
   width:100%;
   height: 500px;
}
#haqqimizda2{
    font-size: 15px;
    opacity: 60%;
}
#komanda_uzvleri{
    color:#da0b4e;
    font-size: 35px;
    font-family: 'Playfair Display', serif;
}
footer{
    background-color:#272727;
    font-size: 14px;;

}
#social_links{
    display: inline-block;
}