@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 6));
        transform: translateX(calc(-250px * 6));
    }
}

.companies {
    background-color: #fff;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    overflow: hidden;
    position: absolute;
    width: 80%;
    border-radius: .6em;
    display: block;
    top: 84.7%;
    margin-left: 9em;
}

.company-slider::before,
.company-slider::after {
    background: linear-gradient(to right, white 10%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 18em;
    z-index: 2;
}

.company-slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.company-slider::before {
    left: 0;
    top: 0;
}

.company-slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 12);
}

.company-slider .slide {
    height: 100px;
    width: 250px;
}

.slide img {
    object-fit: contain;
}

@media (max-width: 992px) {
    .companies {
        height: 100px;
        width: 90%;
        top: 33%;
        margin-left: 2.4em;
    }
}

@media (max-width: 820px) {
    .companies {
        top: 38%;
    } 
}

@media (max-width: 768px) {
    .companies {
        width: 90%;
        top: 29.7%;
    }
}

@media (max-width: 540px) {
    .companies {
        height: 75px;
        top: 41%;
        margin-left: 1.4em;
    }

    .company-slider .slide {
        height: 75px;
        width: 250px;
    }

    .slide img {
        height: 75;
        width: 200px;
    }
}

@media (max-width: 450px) {
    .companies {
        height: 55px;
        top: 25%;
        margin-left: 1.3em;
    }

    .company-slider .slide {
        height: 55px;
        width: 250px;
    }

    .slide img {
        height: 60px;
        width: 300px;
    }
}

@media (max-width: 375px) {
    .companies {
        top: 30%;
        margin-left: 1.1em;
    }
}